html{
--color-button-or-vitoria:#27AE60;
--font-color-button:#FFFFFF;

--border-teclado:#7AA7C7;
--background-teclado-bloqueado:#9FAAB5;
--color-teclado-bloqueado:#798A9F;
--background-teclado-liberado: #E1ECF4;
--color-teclado-liberado:#39739D;
--background-input:#FFFFFF;
--input-color:#3C76A1;
--border-input: #CCCCCC;
--background-chute:#E1ECF4;
--chute-color: #3C76A1;
--chute-border:#7AA7C7;
--color-derrota:#FF0000;


font-size: 62.5%;
}

img{
    
    max-width: 40rem;
    min-width: 10rem;
    max-height: 46.667rem;
    min-height: 11.666rem;
    margin-top: 5.9rem ;
    margin-left: 3.8rem;
    margin-bottom: 7.333rem;    
}

body{
    width: 100%;       
    height: 100%;
    font-family: 'Roboto';
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.3rem;
    letter-spacing: 0em;
    text-align: center;

}

.star{
    max-width: 20rem;
    min-width: 5rem;
    max-height: 6rem;
    min-height: 1.5rem;
    background-color: var(--color-button-or-vitoria);
    color: var(--font-color-button);
    margin-top: 8.9rem;
    margin-right: 5.3rem;
    font-family: 'Roboto';
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.3rem;
    letter-spacing: 0em;
    text-align: center;

}

.corpo{
    display: flex;
    justify-content: space-between;
}

.chutar-resposta{
    margin-top: 5.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 21.1rem;
    padding-right: 13.8rem;

}

.teclado{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    margin-right: 1.2rem;
    margin-bottom: 1.1rem;
    border-radius: 0.3rem;
    border: 0.1rem solid var(--border-teclado);
}

.bloqueado{
    background-color: var(--background-teclado-bloqueado);
    color: var(--color-teclado-bloqueado);


}

.liberado{
    background-color: var(--background-teclado-liberado) ;
    color: var(--color-teclado-liberado);
}

input{
    background-color: var(--background-input);
    color: var(--input-color);
    width: 35.3rem;
    height: 4rem;;
    margin-left: 1.5rem;
    border: 0.1rem solid var(--border-input) ;
    border-radius: 0.5rem;
}


.chute{
    background-color: var(--background-chute);
    color: var(--chute-color-or-vitoria);
    width: 10rem;    
    height: 4rem;
    margin-left: 1.5rem;
    border: 0.1rem solid var(--chute-border);
    border-radius: 0.3rem;
}

.teste{
display: flex;
justify-content: flex-end;
   margin-right: 6.1rem;
  }

  .underline{
font-family: "Noto Sans";
font-size: 5rem;
font-weight: 700;
line-height: 6.8rem;
letter-spacing: 0em;
text-align: center;
margin-right: 1rem;
margin-top: -17.333rem;

  }

  .ganhou{
    color: var(--color-button-or-vitoria);
  }

  .perdeu{
    color:var(--color-derrota);
  }

button:hover{
    opacity: 0.7;
}

    @media screen and (max-width: 770px){
ul{
    padding-left: 1rem;
    padding-right: 1rem;
}

img{
    margin-bottom: 1.5rem;
}

.underline{

    font-size: 2rem;
    margin-top: -7.333rem;
    margin-right: 0.5rem;
}

.star{
    max-width: 10rem;
    margin-top: 7rem;
    margin-left: 1rem;
    font-family: 'Roboto';
    font-size: 1rem;
    font-weight: 700;
    line-height: 2.3rem;
    letter-spacing: 0em;
    text-align: center;
}

input{
    width: 9.3rem;
}

Strong{
    font-size: 1rem;
}

.chute{
    width: 5rem;    
}
}